* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: black;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header-container {
    color: white;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #fbc02d;
}

.logo-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.my-svg {
    filter: invert(100%) sepia(99%) saturate(3%) hue-rotate(250deg) brightness(107%) contrast(100%);
}

.icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.image-container {
    padding-right: 20px;
}

.logo {
    font-size: 2rem;
}

.button-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    margin-right: 100px;
}

.button{
    transition: ease-in-out 0.2s;
    width: 7.5rem;
    height: 3rem;
    border-radius: 20px;
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.button:hover {
    cursor: pointer;
    background: white;
    color: #5b005b;
    border: 3px solid #5b005b; 
    border-radius: 20px;
    font-weight: bold;
}

.add-book-button-container {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-button-wrapper {
    animation: bounce 5s infinite alternate;
}

#add-book-button {
    height: 4rem;
    width: 4rem;
    font-size: 5rem;
    line-height: 0px;
    border: 2px solid white;
    animation: turn 12s infinite;
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-35px);
    }
}

#add-book-button:hover {
    border-radius: 60px;
}

.add-book-text {
    margin-top: 25px;
    font-size: 30px;
    display: none;
    position: absolute;
    left: 54%;
}

#book-form-overlay {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1000; /*puts overlay above all other elements*/
    background: rgba(0, 0, 0, 0.5);
}

#book-form-container {
    position: fixed;
    top: 16.7%;
    left: 50%;
    height: 490px;
    width: 345px;
    display: none;
    border-radius: 20px;
    margin-left: -175px;
    z-index: 1001; /*ensures only form is above the overaly*/
}

#book-form {
    display: grid;
    grid-template-rows: 1fr 0fr 1fr 0fr 1fr 0fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
    border: 1px solid #fbc02d;
    background: #3d003d;
    color: white;
    border-radius: 20px;
}

#book-form > input {
    height: 55%;
    width: 80%;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    transition: ease-in-out 0.2s;
}

#book-form > input:focus {
    outline: none;
    transform: scale(1.1);
}

.radio-check {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: end;
}

.radio-check > label {
    font-size: 20px;
}

input[type="checkbox"] {
    justify-self: start;
    margin-left: 20px;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    
}

#submit:hover {
    color: rgb(19, 112, 0);
    background: none;
    font-weight: normal;
    border: 2px solid rgb(19, 112, 0);
}

#cancel:hover {
    color: rgb(154, 0, 0);
    background: none;
    font-weight: normal;
    border: 2px solid rgb(154, 0, 0);
}

.form-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.body-container {
    background: linear-gradient(360deg, #5b005b, transparent);
    color: white;
    height: 100%;
    padding: 0 10rem;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.card-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row: auto;
    gap: 35px;
    overflow: hidden;
}

.domBookCard {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 1fr 1fr;
    gap: 5px;
    color: white;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #fbc02d;
    height: 300px;
    padding: 20px;
    overflow-wrap: anywhere;
    text-align: center;
}

.domReadButton,
.domRemoveButton {
    transition: ease-in-out 0.2s;
    width: 150px;
}

.domRemoveButton:hover { 
    color: white;
    background: rgba(154, 0, 0);
    border: none;
    font-weight: normal;
    border: 1px solid white;
}

.already-read {
    background: rgb(19, 112, 0);
}

.already-read:hover {
    background: rgb(19, 112, 0);
    font-weight: normal;
    color: white;
    border: 1px solid white;
}

.not-read-yet {
    background: rgb(154, 0, 0);
}

.not-read-yet:hover {
    background: rgb(154, 0, 0);
    font-weight: normal;
    color: white;
    border: 1px solid white;
}